In [17]:
empty_dictionary = {}
print(type(empty_dictionary))

<class 'dict'>

In [18]:
bio_data = {'Name': 'Bob Marley', 'Age':35, 'Height':"5.6 ft", 'Hobby': 'Music'}
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [19]:
credentials = { 'UserA' : 'wkliopnc' , 'UserB': 98760 , 'UserC' :98760 }

In [20]:
hobby = bio_data['Hobby']
print(hobby)

Music

In [21]:
age = bio_data['Age']
print(age)

35

In [22]:
age = bio_data.get('Age')
print(age)

35

In [23]:
profession  =  bio_data.get('Profession','NA')
print(profession)

NA

In [24]:
bio_data['Age'] = 36
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [25]:
#add a key, val
bio_data['Profession'] = 'Singer'
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer'}

In [26]:
print('Profession' in bio_data)

True

### Accessing keys and values of dictionary

In [41]:
bio_data.keys()

dict_keys(['Name', 'Age', 'Height', 'Hobby', 'Profession', 'Country'])

In [44]:
bio_data.values()

dict_values(['Bob Marley', 36, '5.6 ft5.6 ft', 'Music', 'Singer', 'Jamaica'])

In [43]:
bio_data['Height'] = bio_data['Height'] *2

In [27]:
#get list of keys
print(list(bio_data.keys()))

#get list of values
print(list(bio_data.values()))

['Name', 'Age', 'Height', 'Hobby', 'Profession']
['Bob Marley', 36, '5.6 ft', 'Music', 'Singer']

In [40]:
for i in bio_data.keys():
    print(i)

Name
Age
Height
Hobby
Profession
Country

In [28]:
new_dictionary = dict(Country='Jamaica', Songs=['One Love','Misty Morning'])

In [29]:
bio_data.update(new_dictionary)
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer', 'Country': 'Jamaica', 'Songs': ['One Love', 'Misty Morning']}

In [30]:
del bio_data['Songs']
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer', 'Country': 'Jamaica'}

In [83]:
students_data = { 1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27]}

In [84]:
print(len(students_data))

5

In [91]:
for num, student in students_data.items():
    name = student[0]
    age = student[1]
    print(num, "_", name, '_', age)

1 _ Shivam Bansal _ 24
2 _ Udit Bansal _ 25
3 _ Sonam Gupta _ 26
4 _ Saif Ansari _ 24
5 _ Huzefa Calcuttawala _ 27

In [92]:
type(students_data)

dict

In [33]:
#see all the details of students. 
print(list(students_data.values()))

[['Shivam Bansal', 24], ['Udit Bansal', 25], ['Sonam Gupta', 26], ['Saif Ansari', 24], ['Huzefa Calcuttawala', 27]]

In [34]:
students_data[6] = ['Manasi Sharma', 22]
print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [35]:
del students_data[2]
print(students_data)

{1: ['Shivam Bansal', 24], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [36]:
print(list(students_data.keys()))

[1, 3, 4, 5, 6]

### When traverse through dictionary, all keys are printed.

In [37]:
d = {'a': 1, 'b': 2}

In [38]:
for i in d:
    print(i)

a
b

### Multiple values for a key

In [76]:
val = [2, 3, 4, 5]
#print(val * 2)

for i in val:
    print(i * 2)

4
6
8
10

In [78]:
#year = ['2010', '2009', '1989', '2009']
key = ['A', 'B', 'C', 'A']
#val = ['2', '4', '8', '7']
#val = [2010, 3, 4, 5]
year = ['2010', '2009', '1989', '2019']
d = dict()
for y, v in zip(key, year):
    if y in d:
        d[y].append(v)
    else:
        d[y] = [v]
print(d)

{'A': ['2010', '2019'], 'B': ['2009'], 'C': ['1989']}

In [81]:
my_dict = {}
for key, val in zip(d.keys(), d.values()):
    for v in val:
        my_dict[key] = str(key + "_" + v)
        print(key, "_", v)

A _ 2010
A _ 2019
B _ 2009
C _ 1989

In [82]:
print(my_dict)

{'A': 'A_2019', 'B': 'B_2009', 'C': 'C_1989'}

In [67]:
for v in d.values():
    for i in v:
        print(i * 2)

4
6
10
8

In [68]:
for k in d.keys():
    d[k] = d[k] 
    
for v in d.values():
    print(v)

[2]
[3, 5]
[4]

In [69]:
for i, j in zip(d.keys(), d.values()):
    k = j
    d[i]  = k * 2

In [70]:
d

{'2010': [2, 2], '2009': [3, 5, 3, 5], '1989': [4, 4]}

In [71]:
year = ['2010',  '1989', '2009']
#val = ['2', '4', '8', '7']
val = [2, 3, 4]
d = dict()
for y, v in zip(year, val):
        d[y] = v
print(d)

{'2010': 2, '1989': 3, '2009': 4}

In [72]:
for i, j in zip(d.keys(), d.values()):

    d[i]  = j * 2

In [73]:
d

{'2010': 4, '1989': 6, '2009': 8}