In [43]:
sum = 0
for i in range(1,5):
    print(i, " sum = ", sum)
    sum = sum + i
    print(i, " sum = ", sum)
    #sum += i
    #print(sum)

1  sum =  0
1  sum =  1
2  sum =  1
2  sum =  3
3  sum =  3
3  sum =  6
4  sum =  6
4  sum =  10

In [45]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [53]:
# words in a sentence
my_string = "Mary had a little lamb"
for i, str in enumerate(my_string.split()):
    print(i, " string = ", str)
    if i%2 == 0:
        print(str)

0  string =  Mary
Mary
1  string =  had
2  string =  a
a
3  string =  little
4  string =  lamb
lamb

In [54]:
#Looping on a string

my_string = "Mary had a little lamb"

for my_string in my_string:
    print(my_string)

M
a
r
y

h
a
d

a

l
i
t
t
l
e

l
a
m
b

In [ ]:
#pattern to print-

*
* *
* * *
* * * * 
* * * * *
* * * *
* * *
* *
*

In [3]:
str1=''
for i in range(0,9):
    if i<5:
        str1 += '* '
        print(str1)
    elif i>4:
        str1 = str1[:-2]
        print(str1)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [4]:
my_string = "Mary had a little lamb"

for n,alphabet in enumerate(my_string):
    print(alphabet, n)

M 0
a 1
r 2
y 3
  4
h 5
a 6
d 7
  8
a 9
  10
l 11
i 12
t 13
t 14
l 15
e 16
  17
l 18
a 19
m 20
b 21

In [ ]:
vowels =''
for alphabet in my_string:
    if alphabet in 'aeiou':
        vowels += ' ' + alphabet
print(vowels)

In [14]:
nums = '838848237890237388221'
all_even=''
all_odd = ''
for number in nums:
    if int(number)%2 == 0:
        all_even += " " + number
    else:
        all_odd += " " + number
print(" ".join(all_even.split()))#, "\n", " ".join(all_odd.split()))
print(" ".join(all_odd.split()))

8 8 8 4 8 2 8 0 2 8 8 2 2
3 3 7 9 3 7 3 1

In [ ]:
nums = '838848237890237388221'
all_even=''
all_odd = ''
for number in nums:
    if int(number)%2 == 0:
        all_even += number
    else:
        all_odd += number

print('All Evens are : '+ all_even + ' & All odds are : '+ all_odd)

In [15]:
list_of_inventories = ['Apple', 'Banana', 'Potato', 'Mango', 'Onion', 'Toothpaste']
fruits = ['Apple','Banana','Mango','Orange','Strawberry']
vegetables = ['Potato', 'Onion','Cucumber', 'Celery']

In [17]:
list_inventories_fruits = [fruit for fruit in list_of_inventories if fruit in fruits]
list_inventories_veggies = [veggi for veggi in list_of_inventories if veggi in vegetables]
print("Fruits:", list_inventories_fruits, "Veggies: ", list_inventories_veggies)
print("Fruits:", len(list_inventories_fruits), "Veggies: ", len(list_inventories_veggies))

Fruits: ['Apple', 'Banana', 'Mango'] Veggies:  ['Potato', 'Onion']
Fruits: 3 Veggies:  2

In [ ]:
#count of fruits in inventory list
count_fruits = 0
#count of vegetables in inventory list
count_veg = 0
for item in list_of_inventories:
    print(item)
    if item in fruits:
        count_fruits+=1
    elif item in vegetables:
        count_veg +=1
    else:
        continue
print(count_fruits)
print(count_veg)

In [ ]:
sentence = "Is Python simpler than R ?"
for word in sentence.split():
    print(word)

In [33]:

#sentence check
tweet = '#beautiful #morning it is looking good'

for word in tweet.split():
    if word.startswith('#'):
        print(word[1:])

beautiful
morning

In [18]:
students_data = {1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

In [32]:
#for num, key in enumerate(students_data.items()):
for item in students_data.items():
    print("An item in dictionary:  ", item)
    print("Type of dictionary item: ", type(item))
    print("Roll number: ", item[0], " Student Information: ", item[1])
    print("Student Name: " ,item[1][0])

An item in dictionary:   (1, ['Shivam Bansal', 24])
Type of dictionary item:  <class 'tuple'>
Roll number:  1  Student Information:  ['Shivam Bansal', 24]
Student Name:  Shivam Bansal
An item in dictionary:   (2, ['Udit Bansal', 25])
Type of dictionary item:  <class 'tuple'>
Roll number:  2  Student Information:  ['Udit Bansal', 25]
Student Name:  Udit Bansal
An item in dictionary:   (3, ['Sonam Gupta', 26])
Type of dictionary item:  <class 'tuple'>
Roll number:  3  Student Information:  ['Sonam Gupta', 26]
Student Name:  Sonam Gupta
An item in dictionary:   (4, ['Saif Ansari', 24])
Type of dictionary item:  <class 'tuple'>
Roll number:  4  Student Information:  ['Saif Ansari', 24]
Student Name:  Saif Ansari
An item in dictionary:   (5, ['Huzefa Calcuttawala', 27])
Type of dictionary item:  <class 'tuple'>
Roll number:  5  Student Information:  ['Huzefa Calcuttawala', 27]
Student Name:  Huzefa Calcuttawala

In [ ]:
for key, val in students_data.items():
    print(key, val)

In [ ]:
for key in students_data.keys():
    print(key)

In [ ]:
for val in students_data.values():
    print(val)

In [ ]:
count = 0
for key, val in students_data.items():
    if val[1]<25:
        count+=1

print(count)

In [55]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#while loop
start =20
total= 0
while start<51:
    total+=start
    start+=1
    print(start)

print(total)