In [2]:
img_idx = [i for i in range(0, 30, 2)]
print(img_idx)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [5]:
len(img_idx)

15

In [7]:
img_idx.append(2 )

In [8]:
len(img_idx)

16

In [9]:
# To get unique elements: convert it into set
print(len(set(img_idx)))

15

In [10]:
test = [2, 3]
print(test)

[2, 3]

In [17]:
import pandas as pd
df_test = pd.DataFrame(test)
df_img = pd.DataFrame(img_idx)

In [18]:
df_img.head()

   0
0  0
1  2
2  4
3  6
4  8